<h1> Success! </h1>
<p>
	Your appointment has been successfully created. A confirmation has been sent to your email.<br>
	<%# Included paths to mail previews for ease of use %>
	<a href= "localhost:3000/rails/mailers/user_mailer/mail_confirm" target= "_blank" >Link to example confirmation email</a><br>
	<a href= "localhost:3000/rails/mailers/user_mailer/mail_reserve" target= "_blank" >Link to example repairs@example.com email</a>
</p>