<p>
	Email sent successfully! Please check your email
	<%# Included path to mail preview for ease of use %>
	<a href= "localhost:3000/rails/mailers/user_mailer/mail_activation" target= "_blank" >Link to example email</a>
</p>